.CheckoutForm {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  width: 65%;
  padding-bottom: 30px;
  border-bottom: 1px solid #edeef2;
  margin-bottom: 100px;
}

.CheckoutForm .formField {
  display: flex;
  flex-direction: column;
  width: 48%;
}

.CheckoutForm .formField label {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 600;
}

.CheckoutForm .formField input,
.CheckoutForm .formField select {
  border-radius: 8px;
  background: #f6f6f6;
  padding: 16px 20px;
  color: #807d7e;
  font-size: 14px;
  outline: none;
}

.CheckoutForm .formField .errorField {
  color: #f00;
  font-size: 12px;
  margin-top: 3px;
  padding-left: 20px;
}

.CheckoutForm .locationFields {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.CheckoutForm .locationFields .formField {
  width: 30%;
}

.CheckoutForm .btnWrapper {
  width: 100%;
}

.CheckoutForm .btnWrapper .confirmOrder {
  padding: 16px 20px;
  color: #fff;
  font-size: 18px;
  background: #8a33fd;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 15px;
}

.successfullyCheckout p {
  font-size: 30px;
  font-weight: 600;
}

.successfullyCheckout p span {
  color: #8a33fd;
}

.successfullyCheckout .backToShop {
  display: flex;
  margin-top: 30px;
  font-size: 22px;
}

.successfullyCheckout .backToShop a {
  color: #8a33fd;
  margin: 0 5px;
  font-weight: 500;
}
