.titleCheckout {
  position: relative;
  font-size: 28px;
  font-weight: 600;
  line-height: 33.5px;
  margin-bottom: 20px;
  margin-left: 15px;
}

.titleCheckout::before {
  position: absolute;
  content: '';
  width: 6px;
  height: 100%;
  display: block;
  border-radius: 10px;
  background: #8a33fd;
  left: -15px;
  top: 0;
}

.subTitleCheckout {
  font-size: 22px;
  font-weight: 600;
  line-height: 33.5px;
  margin-bottom: 50px;
}

.checkoutWrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.checkoutWrapper .orderSummary {
  width: 33%;
  max-width: 400px;
  position: relative;
  top: -85px;
  padding: 40px 20px;
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.05), -2px -2px 4px 0px rgba(0, 0, 0, 0.05);
}

.checkoutWrapper .orderSummary .summaryTitle {
  font-size: 24px;
  font-weight: 600;
  padding-bottom: 15px;
  border-bottom: 1px solid #edeef2;
}

.checkoutWrapper .orderSummary .orderList .itemProduct {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
  border-bottom: 1px solid #edeef2;
}

.checkoutWrapper .orderSummary .orderList .itemProduct .productData {
  display: flex;
  gap: 15px;
  align-items: center;
}

.checkoutWrapper .orderSummary .orderList .itemProduct .productData img {
  width: 63px;
  height: 63px;
  object-fit: cover;
  border-radius: 4px;
}

.checkoutWrapper .orderSummary .orderList .itemProduct .productData h4 {
  font-size: 14px;
  margin-bottom: 5px;
}

.checkoutWrapper .orderSummary .orderList .itemProduct .productData h4 .productAmount {
  color: #807d7e;
}

.checkoutWrapper .orderSummary .orderList .itemProduct .productData .prodInfo {
  font-size: 14px;
}

.checkoutWrapper .orderSummary .orderList .itemProduct .productData .prodInfo .productColor {
  color: #807d7e;
}

.checkoutWrapper .orderSummary .priceDetails li {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  border-bottom: 1px solid #edeef2;
  font-size: 18px;
  font-weight: 700;
}

.checkoutWrapper .orderSummary .priceDetails li:last-child {
  border-bottom: none;
}

.checkoutWrapper .orderSummary .priceDetails li.discountPrice {
  flex-direction: column;
}

.checkoutWrapper .orderSummary .priceDetails li.discountPrice div {
  display: flex;
  justify-content: space-between;
}

.checkoutWrapper .orderSummary .priceDetails li.discountPrice .subtotal {
  margin-bottom: 15px;
}

.checkoutWrapper .orderSummary .priceDetails li.discountPrice .subtotal .amountProducts {
  color: #807d7e;
}
