.titleCheckout {
    position: relative;
    font-size: 28px;
    font-weight: 600;
    line-height: 33px;
    margin-bottom: 20px;
    margin-left: 15px;
    &::before {
        position: absolute;
        content: '';
        width: 6px;
        height: 100%;
        display: block;
        border-radius: 10px;
        background: #8a33fd;
        left: -15px;
        top: 0;
    }
}
.subTitleCheckout {
    font-size: 22px;
    font-weight: 600;
    line-height: 33.5px;
    margin-bottom: 50px;
}
.checkoutWrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    .orderSummary {
        width: 33%;
        max-width: 400px;
        position: relative;
        top: -85px;
        padding: 40px 20px;
        box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.05), -2px -2px 4px 0px rgba(0, 0, 0, 0.05);
        .summaryTitle {
            font-size: 24px;
            font-weight: 600;
            padding-bottom: 15px;
            border-bottom: 1px solid #edeef2;
        }
        .orderList {
            .itemProduct {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 15px 0;
                border-bottom: 1px solid #edeef2;
                .productData {
                    display: flex;
                    gap: 15px;
                    align-items: center;
                    img {
                        width: 63px;
                        height: 63px;
                        object-fit: cover;
                        border-radius: 4px;
                    }
                    h4 {
                        font-size: 14px;
                        margin-bottom: 5px;
                        .productAmount {
                            color: #807d7e;
                        }
                    }
                    .prodInfo {
                        font-size: 14px;
                        .productColor {
                            color: #807d7e;
                        }
                    }
                }
            }
        }
        .priceDetails {
            li {
                display: flex;
                justify-content: space-between;
                padding: 20px 0;
                border-bottom: 1px solid #edeef2;
                font-size: 18px;
                font-weight: 700;
                &:last-child {
                    border-bottom: none;
                }
            }
            li.discountPrice {
                flex-direction: column;
                div {
                    display: flex;
                    justify-content: space-between;
                }
                .subtotal {
                    margin-bottom: 15px;
                    .amountProducts {
                        color: #807d7e;
                    }
                }
            }
        }
    }
}
