.breadcrumbs {
  margin: 30px 0;
}

.breadcrumbs,
a {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #807d7e;
}

.breadcrumbs a,
.breadcrumbs span,
a a,
a span {
  text-transform: capitalize;
}

.breadcrumbs span.currentPage,
a span.currentPage {
  font-weight: 700;
  color: #3c4242;
}
